#container{
    font-family: 'Courier New', Courier, monospace;
}
.btn-toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#equal{ display: flex;
align-items: center;
justify-content: center;
}